<div *ngIf="comentarios$ | async as comentarios">
    <ul class="list-unstyled comentario-list">
        <li *ngFor="let comentario of comentarios">
            <p class="text-dark font-weight-bold mr-1">{{ comentario.userName }}</p>
            <em>{{ comentario.date | date:"dd-MM-yyyy HH:mm" }}</em>
            <p class="break-word mb-2">{{ comentario.text }}</p>
        </li>
    </ul>

    <div class="mt-4">
        <form [formGroup]="form" (submit)="criarComentario()">
            <div class="input-group">
                <textarea class="form-control" formControlName="comentario"></textarea>
                <div class="input-group-append">
                    <button [disabled]="form.invalid" class="btn btn-primary pull-left">Publicar</button>
                </div>
            </div>
        </form>
        <app-mensagem *ngIf="!!form.get('comentario')?.errors?.maxLength" mensagem="Tamanho máximo de 300 caracteres"></app-mensagem>
    </div>
</div>